body {
  font-family: sans-serif;
}

#app {
  display: flex;
  justify-content: center;
}

.letterC {
  position: relative;
  animation: cAnimation;
  animation-duration: 5s;
}

.letterL {
  position: relative;
  animation: lAnimation;
  animation-duration: 5s;
}

@keyframes cAnimation {
  0% {
    left: 200px;
    top: 300px;
  }
  25% {
    left: 250px;
    top: 400px;
  }
  50% {
    left: 100px;
    top: 100px;
  }
  75% {
    left: 200px;
    top: 120px;
  }
  100% {
    left: 0;
    top: 0;
  }
}

@keyframes lAnimation {
  0% {
    left: 100px;
    top: 200px;
  }
  25% {
    left: 450px;
    top: 300px;
  }
  50% {
    left: 200px;
    top: 200px;
  }
  75% {
    left: 100px;
    top: 220px;
  }
  100% {
    left: 0;
    top: 0;
  }
}
